body{
    background: #373447; 
    /*background: -webkit-linear-gradient( white, #252525 90%); 
    background: -o-linear-gradient( white, #252525 90%); 
    background: -moz-linear-gradient( white, #252525 90%); 
    background: linear-gradient( white, #252525 90%); 
    background-repeat: no-repeat*/
    font-family: 'Open Sans', sans-serif;
    color: #fff;  
}
